* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;

}

.dashboard{
    background-color: #deeba0;
}

.logo-wh{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -100px;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }

  h2, p {
    text-align: center;
  }

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  