/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
  }

h1{
    contain: layout style;
    text-align: center;
    font-size: 100px;
    margin-bottom: 70px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal-content{
    height: 55px;
    z-index: 1;
}

.close-btn{
    left: 566px;
}


.dashboard{
    background-color: #deeba0;
    position: relative;
    min-height: 100vh;
}

.link-employees{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    border: solid 2px #859533;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.link-employees .icon-with-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.icon-with-text{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.logo-wh{
    width: 100px;
    height: 100px;
    justify-content: center;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: -50px;
}
  
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    width: fit-content;
    border: solid 2px #859533;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 50px;
    border-radius: 10px;
}

.title-form, .address {
    text-align: left; 
    margin-bottom: 15px;
    text-decoration: underline;
}


p {
text-align: center;
}

.datepicker-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .address{
    font-weight: bold;
    font-size: 1.5em;
  }



.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.css-b62m3t-container{
    border: solid 2px black;
    border-radius: 5px;
}


input{
width: 280px;
height: 30px;
border-radius: 5px;
}
  
.btn-save{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #859533;
    color: white;
    border: solid 2px #859533;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}

.employees-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #deeba0;
    min-height: 100vh;
}

.employees-page h2{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search{
    margin-bottom: 10px;
}

table{ 
    margin-top: 20px;
    border-collapse: collapse;
    border: 3px solid black;
}

th, td{
    border: 3px solid black;
    padding: 10px;
}

.titleModal {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}


.btnModal {
    width: 60px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #859533;
    color: white;
    cursor: pointer;
}


.btnDelete:hover {
    background-color: red;
    box-shadow: rgba(14, 30, 37, 0.20) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.btnNo:hover {
    background-color: green;
    box-shadow: rgba(14, 30, 37, 0.20) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination button{
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #859533;
    color: white;
    cursor: pointer;
}

.sort-icon {
    color: grey; 
    user-select: none;
  }

  .sort-icon.active {
    color: blue; 
  }
  
  td {
    border-bottom: 1px solid black; /* Couleur de ligne claire pour la séparation */
  }
  
  /* Pour les en-têtes du tableau */
  th {
    border-bottom: 2px solid black; /* Ligne un peu plus épaisse pour les en-têtes */
  }

  .error{
    color: red;
    font-size: 13px;
    margin-top: 5px;
  }

  .errorInput{
    border: 2px solid red;
  }

  .error-message{
    color: red;
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
  }
